<h1 class="text-white text-center">Miembros del sitio</h1><br><br>
<table class="table table-bordered table-light">
    <thead>
      <tr class="bg-warning">
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sexo</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha de nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>UnNombre</td>
        <td>UnSexo</td>
        <td>uncorreo@correo</td>
        <td>unafecha</td>
      </tr>
    </tbody>
  </table>