<div id="jumb" class="jumbotron">
    <h1 class="display-3 text-center">Bienvenido</h1>
    <h5 class="text-center">No te pierdas nada sobre comics</h5>
    <hr class="my-4">
    <h6 class="text-center">Únete para recibir toda la informacion actualizada cada semana</h6><br>
    <p class="text-center"><a class="btn btn-danger btn-lg" href="#" role="button" data-target="#exampleModal" data-toggle="modal">Regístrate</a></p>
  </div>

  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Regístrate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <!-- formulario -->
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning">Aceptar</button>
        </div>
      </div>
    </div>
  </div>